{% extends 'base.html.twig' %}
{% block title %}New SymphArt Article
{% endblock %}
{% block body %}
	{{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    {# <a href="/PHP/Symfony/symphart/public/">Go Back</a> #}
{% endblock %}
