{% extends 'base.html.twig' %}
{% block title %}SymphArt Article
{% endblock %}
{% block body %}
	<h1>{{ article.title }}</h1>
    <p>{{ article.body }}</p>
    <hr>
    <a href="/PHP/Symfony/symphart/public/">Go Back</a>
{% endblock %}
